
nav{
    background-color:$colorPrimario ;
    ul{
        list-style: none;

        li {
            padding: 10px;
            a {
                text-decoration: none;
                color: white;
                font-size: 20px;
            }
        }
    }

}
