nav{
    background-color: $colorPrimario;
    ul{
        list-style: none;
        li{
            padding: 10px 20px;
            a{
                text-decoration: none;
                color: $colorBlanco;
            }
        }
    }
}